---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication/patron
    body:
      encoding: UTF-8
      string: ! '{"AuthenticationInformation":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Authentication":{"AuthnUserInfo":{"AId":"2aTwfSTGu1NoVrRrk32w9blGdp0","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","UserLogin":"DUMMY_BD_PATRON","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false,"ILSProfile":{"EmailAddress":"jonathan@dnil.net","Telephone":"4105168886","AddressInformation":{"Address1":"Library
        Systems","Address2":"MSE Library\r\nHomewood Campus"}}}}}'
  recorded_at: Wed, 14 Jan 2015 21:00:10 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/add
    body:
      encoding: UTF-8
      string: ! '{"PartnershipId":"BD","AuthorizationId":"2aTwfSTGu1NoVrRrk32w9blGdp0","PickupLocation":"one","ExactSearch":[{"Type":"ISBN","Value":"121212"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Request":{"RequestLink":{"ButtonLabel":"Request","ButtonLink":"http://findit.library.jhu.edu/resolve?genre=book&sid=Relais&title=In%20memoriam%20Luigi%20Nono&aufirst=Hans&aulast=Abrahamsen&isbn=9788759826126%20(sewn)&isbn=8759826126%20(sewn)&date=%5B2012%5D&pub=Edition%20Wilhelm%20Hansen&place=%5BCopenhagen%5D","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}}'
  recorded_at: Wed, 14 Jan 2015 21:00:13 GMT
recorded_with: VCR 2.9.3
