---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"DUMMY_BD_PARTNERSHIP_ID","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"GXZaUnp2LFM1vf7rXL9RyEejDcQ","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Barnaby","LastName":"Alter","AllowLoanAddRequest":true,"AllowCopyAddRequest":true,"AllowSelDelivLoanChange":true}'
  recorded_at: Tue, 23 Aug 2016 19:15:14 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=GXZaUnp2LFM1vf7rXL9RyEejDcQ
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"DUMMY_BD_PARTNERSHIP_ID","ExactSearch":[{"Type":"ISBN","Value":"9789810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchTerm":"isbn=9789810743734","RequestLink":{"ButtonLink":"AddRequest","ButtonLabel":"Request","RequestMessage":"Click
        here to request this item from E-ZBorrow."},"NumberOfRecords":1,"PickupLocation":[{"PickupLocationCode":"A","PickupLocationDescription":"Main
        Library"}]}'
  recorded_at: Tue, 23 Aug 2016 19:15:17 GMT
[...]
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/add?aid=ZXUDuiUNIF-TthBWA-WnLLBSL7Q
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"DUMMY_BD_PARTNERSHIP_ID","ExactSearch":[{"Type":"ISBN","Value":"9789810743734"}],"PickupLocation":"Main
        Library"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"RequestNumber":"DUMMY_BD_LIBRARY_SYMBOL-90000430"}'
  recorded_at: Tue, 23 Aug 2016 19:15:21 GMT
recorded_with: VCR 2.9.3
