---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","Credentials":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Barcode":"DUMMY_BD_PATRON"},"ExactSearch":[{"Type":"ISBN","Value":"9789810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"Item":{"Available":true,"SearchTerm":"isbn=9789810743734","AuthorizationId":"dxCZvQN6ah1VR-CLPaI1dh_O79w","PickupLocations":{"PickupLocation":["*Milton
        S. Eisenhower Library","APL - EP STUDENTS - Ed Center","APL STAFF - Room 5-17","Arthur
        Friedheim Library","Columbia Center","Harbor East","Harrison Medical Library-Bayview","Institute
        of the History of Medicine","JH Medical Campus Office (faculty and staff)","JHMI
        Pickup - Armstrong 306","JHMI Pickup - BSPH E4643","JHMI Pickup - Hampton
        House 9th floor","JHMI Pickup - PCTB 115-116","JHMI Pickup - School of Nursing
        313","JHU Homewood Office (faculty and grad students)","Montgomery Library
        Resource Center","SAIS Library","Washington Library Resource Center","Welch
        Medical Library","Wilmer Friedenwald Library"]}}}'
  recorded_at: Wed, 14 Jan 2015 21:00:31 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/add
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","AuthorizationId":"EAGMyPleoW8bxNdnzEjU-626oKY","PickupLocation":"one","ExactSearch":[{"Type":"ISBN","Value":"121212"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"Request":{"RequestLink":{"ButtonLabel":"Request","ButtonLink":"http://findit.library.jhu.edu/resolve?genre=book&sid=Relais&title=In%20memoriam%20Luigi%20Nono%20-%20for%20piano%2C%201991&aufirst=Hans&aulast=Abrahamsen&isbn=9788759826126%20(sewn)&isbn=8759826126%20(sewn)&date=%5B2012%5D&pub=Edition%20Wilhelm%20Hansen&place=%5BCopenhagen%5D","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}}'
  recorded_at: Mon, 23 Feb 2015 18:16:08 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication/patron
    body:
      encoding: UTF-8
      string: '{"AuthenticationInformation":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Authentication":{"AuthnUserInfo":{"AId":"Mr2vcqQbacDN0MPNudVgzLrdzXY","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","UserLogin":"DUMMY_BD_PATRON","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false,"ILSProfile":{"EmailAddress":"jonathan@dnil.net","Telephone":"4105168886","AddressInformation":{"Address1":"Library
        Systems","Address2":"MSE Library\r\nHomewood Campus"}}}}}'
  recorded_at: Tue, 21 Apr 2015 15:53:33 GMT
recorded_with: VCR 2.9.3
