---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: ! '{"PartnershipId":"BD","Credentials":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Barcode":"DUMMY_BD_PATRON"},"ExactSearch":[{"Type":"ISBN","Value":"000000000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Item":{"Available":false,"SearchTerm":"isbn=000000000","AuthorizationId":"xtwGxSz7BJVoBXCrnXxMnyPhChg","RequestLink":{"ButtonLink":"http://findit.library.jhu.edu/resolve?genre=book&sid=Relais&title=Cruise%20control&aufirst=Stephen%20C&aulast=Bett&isbn=0000000000&date=1996&pub=Ekstasis%20Editions&place=Victoria%2C%20B.C","ButtonLabel":"Request","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}}'
  recorded_at: Wed, 14 Jan 2015 21:00:41 GMT
recorded_with: VCR 2.9.3
