---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: ! '{"PartnershipId":"BD","Credentials":{"LibrarySymbol":"BAD_SYMBOL","Barcode":"DUMMY_BD_PATRON"},"ExactSearch":[{"Type":"ISBN","Value":"9789810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":{"ErrorNumber":"PUBAN005","ErrorMessage":"Invalid library
        symbol"}}'
  recorded_at: Wed, 14 Jan 2015 21:00:36 GMT
recorded_with: VCR 2.9.3
