<%= form_tag( 
    borrow_direct_submit_path(:request_id => response.request.id, :service_id => response.service_id),
    :method => UmlautBorrowDirect::Engine.config.http_submit_method, :role => "form", :class => "form-horizontal borrow-direct-request-form") do %>


    <div class="form-group">
        <div class="col-sm-7 borrow-direct-pickup-col">
            <%= select_tag "pickup_location", options_for_select(response.view_data["pickup_locations"]),
                         :prompt => I18n.t("umlaut.services.borrow_direct_adaptor.bd_request_prompt.pickup_prompt", :default => "Please choose a delivery location"),
                         :class => "form-control" %>
        </div>
        <div class="col-sm-5 borrow-direct-action-btn-col">
            <%= submit_tag I18n.t("umlaut.services.borrow_direct_adaptor.bd_request_prompt.request", :default => "Request"), :class => "borrow-direct-action btn btn-primary" %>             
        </div>
    </div>

<% end %>