<% if request_form = responses.find {|r| r.service_type_value_name == "bd_request_prompt"} %>
    <%= render "borrow_direct/request_form", :response => request_form %>
<% elsif link_to_search = responses.find {|r| r.service_type_value_name == "bd_link_to_search"  } %>
    <%# display it the normal way with a standard response type %>
    <ul>
        <%= render renderer.item_render_hash(link_to_search) %>
    </ul>

<%  elsif not_avail = responses.find {|r| r.service_type_value_name == "bd_not_available" } %>
    <%# display custom because we have no URL, and the standard thing insists on a link %>
    <p class="umlaut-unavailable"><%= not_avail.view_data["display_text"] %></p>

<% end %>

<%# do we have an error in the DispatchedService? If so,
    display a warning at bottom of the section no matter what %>

<% 
errors = umlaut_request.
    dispatch_objects_with(:service_type_values => UmlautBorrowDirect.service_type_values).
    find_all {|ds| ds.failed? }
if errors.present? %>
    <div class="borrow-direct-error alert alert-danger" role="alert">
        <p><strong>Warning</strong>, there was a software error in determining
            BorrowDirect availability.</p>
    </div>
<% end %>